:host {
	--mdc-filled-text-field-container-color: rgba(46, 121, 176, 1);
	--mat-stepper-header-hover-state-layer-color: rgba(46, 121, 176, 1);
	--mat-stepper-header-focus-state-layer-color: rgba(46, 121, 176, 1);
	--mat-standard-button-toggle-background-color: rgba(46, 121, 176, 1);
	--mat-standard-button-toggle-selected-state-background-color: rgb(37,
			100,
			143);
	--mat-stepper-container-color: transparent;
	--mdc-text-button-label-text-color: rgb(255, 255, 255);
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fututes {
	position: absolute;
	left: 0px;
	top: 0px;
}

.line {
	background: rgba(42, 87, 120, 1);
	position: absolute;
	left: -50px;
	top: 275px;
	width: 5em;
	padding: 1.3em 0;
	border-radius: 40px;
}

.line-back {
	background: #102636;
	position: absolute;
	left: -50px;
	top: 311px;
	width: 5em;
	padding: 1.3em 0;
	border-radius: 40px;
}

.line-2 {
	background: rgba(42, 87, 120, 1);
	position: absolute;
	left: -38px;
	top: 347px;
	width: 5em;
	padding: 1.3em 0;
	border-radius: 40px;
}

.pointer {
	background: rgba(42, 87, 120, 1);
	position: absolute;
	left: -50px;
	top: 0px;
	width: 2.6em;
	padding: 1.3em 0;
	border-radius: 50%;
}

.log-in-panel {
	position: relative;
	padding: 0 4em;
	background: rgba(42, 87, 120, 1);
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	min-height: 37em;
	align-items: center;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0 30px;
}

mat-stepper {
	min-height: 60%;
}

.log-in-panel h1 {
	color: rgba(200, 200, 200, 1);
	font-size: 32px;
	width: 100%;
	margin-bottom: 1em;
}

.form-input {
	display: flex;
	flex-flow: column;
	gap: 1.5em;
}

.em--input {
	padding: 0.6em 1em;
	border-radius: 30px;
	border: 0;
	background: var(--mdc-filled-text-field-container-color);
	font-size: 1.8em;
	color: white;
	margin: 0.2em 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px var(--mdc-filled-text-field-container-color) inset;
	-webkit-text-fill-color: white;
	font-size: 1.8em;
}

mat-button-toggle-group {
	width: 100%;
	padding: 0;
}

.em--input mat-button-toggle {
	width: 100%;
	padding: 0;
	color: white;
	display: flex;
	align-items: center;
	border: 0;
	justify-content: space-between;
}

.text-danger {
	color: red;
	font-size: 1.5em;
	text-align: center;
	padding-bottom: 1em;
}

textarea:focus,
input:focus {
	outline: none;
}

.custom-input {
	border-radius: 50px;
	color: white;
}

::placeholder {
	color: rgba(200, 200, 200, 0.3);
}

mat-label {
	width: 20%;
	color: rgba(200, 200, 200, 0.3);
	cursor: default;
	position: absolute;
}

.log-inBtn {
	background: rgba(74, 176, 170, 1);
	color: #ffffff;
	border: 0;
	width: 8em;
	height: 2em;
	border-radius: 10px;
	font-size: 24px;
}

.log-inBtn:hover {
	background: rgba(52, 132, 127, 1);
	cursor: pointer;
	transition: 0.5s;
}

.log-in-panel a {
	color: white;
	text-decoration: none;
	margin-bottom: 2em;
}

.log-in-panel a:hover {
	color: #9e9eea;
	transition: 0.5s;
}

.found_groups,
.found_subjects {
	font-size: 1.3em;
	background-color: #102636;
	padding: 1.5em;
	margin: 1em;
	border-radius: 8em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label:hover {
	cursor: pointer;
	user-select: none;
}

label {
	transition: background-color 0.20s ease-in-out 0s;
}

.found_checkbox:checked~.found_groups,
.found_checkbox:checked~.found_subjects {
	background-color: #cb4372;
	transition: background-color 0.20s ease-in-out 0s;
}

.selection_checkbox {
	height: 7em;
}

.grid-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.groups-grid,
.subjects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 1028px) {
	.container_inner {
		width: 100%;
	}

	.fututes {
		display: none;
	}

	.em--input {
		padding: 0.5em 0.7em;
		border: 0;
		background: var(--mdc-filled-text-field-container-color);
		font-size: 1.4em;
		color: white;
	}

	.log-in-panel {
		padding: 0;
		margin: 0;
	}

	.log-in-panel h1 {
		color: rgba(200, 200, 200, 1);
		font-size: 24px;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.fututes {
		display: none;
	}

	.log-inBtn {
		width: 8em;
		height: 2em;
		font-size: 18px;
	}
}