.container{
    width: 100%;
    height: 100%;
}

.mat-elevation-z8{
    background-color: rgba(37, 84, 104, 1);
    border-radius: 25px;
}

.textColumn{
    color: white;
    font-family: 'Comfortaa', cursive;
}
