* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.toolbars {
	display: flex;
	justify-content: center;
	background-color: rgba(30, 64, 89, 1);
	padding: 0 20px;
	position: fixed;
	width: 100%;
	z-index: 2;
	box-shadow: 0px 11px 7px -3px rgba(0, 0, 0, 0.2);
	height: 60px;
}

.toolbars_inner{
	width: 1280px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-family: 'Courgette', cursive;
	font-size: 3em;
	color: rgba(82, 135, 173, 1);
	cursor: pointer;
}

#profileMenu {
	display: flex;
	align-items: center;
}

.profile {
	width: fit-content;
	height: fit-content;
	font-size: 3em;
	color: rgba(217, 217, 217, 1);
	margin-left: auto;
}