* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.toolbars {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(30, 64, 89, 1);
	overflow: hidden;
}

.logo {
	font-family: 'Courgette', cursive;
	font-size: 3em;
	color: rgba(82, 135, 173, 1);
	cursor: pointer;
}

#profileMenu {
	display: flex;
	align-items: center;
}

.profile {
	width: fit-content;
	height: fit-content;
	font-size: 3em;
	color: rgba(217, 217, 217, 1);
	margin-left: auto;
}
