:host {
    --mat-expansion-container-background-color: transparent;
    --mat-expansion-header-text-color: white;
}

th {
    margin-left: 3%;
}

p {
    width: 100%;
    margin: 0;
}

ul {
    margin-left: 0;
    margin-top: 5px;
    padding-left: 0;
}

li {
    list-style-type: none;
}

table {
    border-collapse: separate;
    border-spacing: 1.5em;
    color: white;
}

.bold-text {
    font-weight: 700;
}

.base-week-text {
    font-size: 18px;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-info {
    width: 25em;
    height: 39em;
    background: rgba(82, 135, 173, 1);
    border-radius: 12px;
    color: white;
    text-align: center;
}

.num-of-week-label {
    font-size: 24px;
    margin: 2em 0 1em 0;
}

.current-day-week {
    padding: 1em;
    border: 2px solid #669bc0;
    border-radius: 8px;
    font-size: 1.2em;
}

.num-of-week-text {
    font-size: 18px;
    background: #669bc0;
    padding: 1em 0 1em 0;
}

.days-of-week td:not(:first-child) {
    border-radius: 12px;
    text-align: center;
    border: 0;
    margin-right: 3em;
}

.days-of-week td {
    width: 7em;
    height: 4em;
}

.num-lessons {
    margin-top: 1em;
}

.num-lessons li {
    background: rgba(82, 135, 173, 1);
    margin-bottom: 10px;
    width: 5em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.lesson li {
    width: 10em;
    height: 3em;
    background: rgba(82, 135, 173, 1);
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 1em;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.lesson li:hover {
    background: rgba(82, 135, 173, 0.62);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(82, 135, 173, 0.62);
    transition: 0.2s ease-in-out;
}

.lesson-teacher {
    font-size: 0.7em;
}

.lesson-name {
    font-weight: 700;
    margin-bottom: 0.34em;
}

.text-in-box {
    position: relative;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    outline: 2px solid #669bc0;
}

.icon-div {
    display: flex;

    margin-right: 1em;
}

.current-day {
    color: #9989e6;
}

mat-expansion-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.num-of-week-selector .num-of-week-text {
    cursor: pointer;
}

@keyframes showPopUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.pop-up {
    animation: .35s ease-in-out 0s 1 normal none running showPopUp;
    position: absolute;
    margin-bottom: 5em;
    width: 10em;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.create_lesson_input:not(.input-active) {
    display: none;
}
.create_lesson_input {
    width: 90%;
    position: absolute;
    height: 1.5em;
    border-radius: 16em;
    border: 1px solid #669bc0;
    outline: none;
    padding: .8em;
    margin-bottom: 7em;
}


.active-present, .active-empty {
    display: flex;
    z-index: 10;
}
.pop-up:not(.active-empty) {
    flex-direction: row;
}
.pop-up:not(.active-present) {
    flex-direction: column;
}
.create_lesson_input, .input-active {
    animation: .35s ease-in-out 0s 1 normal none running showPopUp;
    display: flex;
    z-index: 10;
}
#icons-empty {
    display:flex;
    flex-direction: row;
}
#drag {
    margin-left: .5em;
    margin-right: .5em;
}

.pop-up_icon {
    width: 1em;
    height: 1em;
    background-color: white;
    color: #070101;
    border-radius: 50%;
    padding: 0.1em;
    font-size: 1.3em;
    box-shadow: 1px 0 5px 1px rgba(82, 135, 173, 0.3);
    outline: 2px solid #669bc0;
    font-weight: 500;
}

.pop-up_icon:hover:not(.delete-icon-active) {
    cursor: pointer;
    background-color: #b9b9b9;
    transition: 0.2s ease-in-out;
}

.delete-icon-active {
    background-color: #ff0000;
    transition: 0.2s ease-in-out;
}

input[type="text"] {
    font-size: .8em;
}

.input_create {
    width: 100%;
}
@keyframes showConfirm {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
#confirm {
    animation: .2s ease-in-out 0s 1 normal none running showConfirm;
    margin-left: .2em;
}
