p {
    margin: 0;
    text-shadow: 7px 5px 5px rgba(0, 0, 0, 0.2);
}

body {
    width: 100vw;
}

.container {
    margin-top: 5em;
    display: grid;
    align-items: center;
    justify-content: center;
}

.big-panel {
    display: grid;
    column-gap: 13em;
    row-gap: 5em;
    grid-template-columns: 32.5em auto;
    margin-right: 2.5em;
    justify-content: center;
    color: rgb(255, 234, 234);
}

.little-panel {
    display: grid;
    grid-template-rows: repeat(3, 10em);
    align-items: center;
    column-gap: 2em;
    justify-content: center;
}

.note {
    max-width: 40em;
    width: 40em;
    height: 25em;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-radius: 60px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
}

.note p::after {
    content: "";
    width: 0;
    height: 5px;
    display: block;
    background: white;
    transition: 300ms;
}

.note:hover p::after {
    width: 100%;
    transition: 300ms;
    border-radius: 5em;
}

.note:hover {
    cursor: pointer;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
}


.notion {
    width: 25em;
    height: 6em;
    border-radius: 60px;
    background: rgba(238, 136, 17, 1);
    margin-bottom: 2em;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.big-panel .mat-mdc-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 3.5em;
}

.mat-mdc-card-content {
    width: 100%;
    height: 100%;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-icon {
    width: fit-content;
    height: fit-content;
    font-size: 2em;
    padding-right: 0.5em;
}

.tasks {
    background: linear-gradient(to right,
    rgb(49 126 159 / 1),
    rgb(49 126 159 / .7),
    rgb(16 38 54 / 0.9)),
    url(/assets/books.png) repeat center center/62.5%;
}
.schedule {
    background: linear-gradient(to right,
    rgb(49 126 159 / 1),
    rgb(49 126 159 / .7),
    rgb(16 38 54 / 0.9)),
    url(/assets/schedule.png) repeat center center/71%;
}
.announcements {
    background: linear-gradient(to right,
    rgb(49 126 159 / 1),
    rgb(49 126 159 / .7),
    rgb(16 38 54 / 0.9)),
    url(/assets/announcements.png) repeat center center/60%;
}
.teachers {
    background: linear-gradient(to right,
    rgb(49 126 159 / 1),
    rgb(49 126 159 / .7),
    rgb(16 38 54 / 0.9)),
    url(/assets/teachers.png) repeat center center/64%;
}
.students {
    background: linear-gradient(to right,
    rgb(49 126 159 / 1),
    rgb(49 126 159 / .7),
    rgb(16 38 54 / 0.9)),
    url(/assets/class.png) repeat center left/69%;
}
/*	Media styles  */

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: auto;
        justify-content: center;
    }

    .big-panel {
        grid-template-columns:1fr 1fr;
        grid-gap: 1em;
        margin: 0;
    }

    .note {
        width: 35em;
        height: 30em;
    }

    .little-panel {
        grid-template-rows: repeat(2, 10em);
    }
}

@media screen and (max-width: 860px) {
    .big-panel {
        grid-template-columns: auto;
        margin: 0;
    }

    .big-panel .note {
        max-width: 100vw;
        min-width: 90vw;
    }

    .note {
        width: 80vw;
    }

    .little-panel {
        grid-template-rows: repeat(1, 10em);
    }

    .mat-mdc-card-content {
        font-size: 1.5em;
    }
}
