<div class="container">
	<div class="create_panel" *ngIf="user.role === 'teacher'">
		<input
			type="text"
			id="title"
			placeholder="Заголовок"
			[(ngModel)]="news.title"
			required
		/>
		<textarea
			id="description"
			placeholder="Описание"
			[(ngModel)]="news.content"
			required
		></textarea>
		<button id="send" (click)="createAnnouncement()">Создать</button>
	</div>
	<div *ngIf="announcements.length !== 0" class="announcements">
		<div *ngFor="let news of this.announcements" class="announcement">
			<div class="announcement_title">
				<div>
					<h3>{{ news.title }}</h3>
					<div class="date">
						<h4
							id="created_date"
							matTooltip="Время создания публикации"
							matTooltipShowDelay="500"
							[matTooltipPosition]="'left'"
						>
							{{
								news.created_at
									| date
										: 'dd MMMM yyyy в HH:mm'
										: '+2'
										: 'ru'
							}}
						</h4>
						<h4
							*ngIf="
								trimSeconds(news.updated_at) !=
								trimSeconds(news.created_at)
							"
							id="updated_date"
							matTooltip="Время обновления публикации"
							matTooltipShowDelay="500"
							[matTooltipPosition]="'left'"
						>
							{{
								news.updated_at
									| date
										: 'dd MMMM yyyy в HH:mm'
										: '+2'
										: 'ru'
							}}
						</h4>
					</div>
				</div>
				<h5>{{ news.author_name }}</h5>
			</div>
			<div class="announcement_description">
				<textarea
					id="description_change"
					*ngIf="news.isEditing"
					[(ngModel)]="news.content"
				></textarea>
				<p *ngIf="!news.isEditing">{{ news.content }}</p>
			</div>
			<div class="manipulate_button">
				<mat-icon
					*ngIf="user.role === 'teacher' && news.isEditing"
					(click)="submitChanges(news.id)"
					>check</mat-icon
				>
				<mat-icon
					*ngIf="user.role === 'teacher'"
					(click)="
						news.isEditing
							? cancelEdit(news.id)
							: editAnnouncement(news.id)
					"
					>edit</mat-icon
				>
				<mat-icon
					*ngIf="user.role === 'teacher'"
					(click)="deleteAnnouncement(news.id)"
					>delete</mat-icon
				>
			</div>
		</div>
	</div>
	<!-- uncomment if styling it without server active -->
	<!-- <div *ngIf="announcements.length === 0" class="announcements">
		<div class="announcement">
			<div class="announcement_title">
				<div>
					<h3>ЗАГОЛОВОК</h3>
					<h4>ДАТА СОЗДАНИЯ</h4>
				</div>
				<h5>АВТОР СТАТЬИ</h5>
			</div>
			<div class="announcement_description">
				<p>СОДЕРЖИМОЕ</p>
			</div>
		</div>
	</div> -->
</div>
