* {
	color: white;
	font-family: 'Comfortaa', cursive;
}

.container {
	display: flex;
	margin-top: 5%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.create_panel {
	width: 55em;
	height: 30em;
	background-color: #0b3b5f;
	border-radius: 4em;
	display: flex;
	flex-direction: column;
	padding-bottom: 3em;
}
#title,
#description {
	border: none;
	font-size: 1.5em;
	padding-left: 15px;
	margin: 15px;
	background-color: #1f6090;
	transition: font-size 0.2s ease-in-out;
	resize: none;
	border-radius: 32px;
}

#title:focus,
#description:focus {
	outline: none;
	font-size: 1.75em;
	transition: font-size 0.2s ease-in-out;
}

input::placeholder,
textarea::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

#description {
	width: auto;
	height: 15em;
	padding: 1em;
}
#description_change {
	width: 100%;
	height: 15em;
	font-size: 1em;
	margin: 0;
	padding: 0;
	border-radius: 0;
	background-color: transparent;
}
#title {
	width: 70%;
	height: 5em;
}

#send {
	width: 30%;
	height: 5em;
	align-self: center;
	border: 0;
	font-size: 1.5em;
	border-radius: 32px;
	background-color: #1f6090;
	transition: font-weight 0.2s ease-in-out;
}

#send:hover {
	cursor: pointer;
	font-weight: bold;
	transition: font-weight 0.2s ease-in-out;
}

.announcements {
	width: 50em;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3%;
}

.announcement {
	width: 100%;
	min-height: 20em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2%;
	border-radius: 16px;
	background-color: #1f6090;
}

.announcement_title {
	width: 90%;
	display: flex;
	flex-direction: column;
}

.announcement_title > div {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5em;
	align-items: center;
}

.announcement_title h3 {
	font-size: 1.8em;
}

.announcement_title h4 {
	font-size: 1.4em;
	color: rgba(255, 255, 255, 0.8);
}

h3,
h4 {
	margin: 0;
	vertical-align: middle;
}

.announcement_title h5 {
	font-size: 1em;
}

.announcement_description {
	width: 90%;
	height: fit-content;
	text-align: justify;
	word-wrap: break-word;
	font-size: clamp(1.2em, 1.5vw, 1.3em);
}

.manipulate_button {
	display: flex;
	width: 80%;
	height: 100%;
	align-items: flex-end;
	justify-content: flex-end;
}

.manipulate_button button {
	width: fit-content;
	height: 2em;
	border: 0;
	border-radius: 16em;
	background-color: #517a97;
	margin: 0.5em;
	transition: font-weight 0.2s ease-in-out;
	font-size: 1.5em;
	cursor: pointer;
}
