<div class="container">
	<div class="container_inner">
		<div class="profile_info" [ngClass]="{ 'student-info': isStudent }">
			<div class="img-container">
				<div class="img_profile"></div>
				<div class="overlay" id="overlay">
					<span class="text">Изменить</span>
				</div>
			</div>
			<div class="info_about">
				<p>Имя аккаунта: {{ this.user.full_name }}</p>
				<p>Логин: {{ this.user.login }}</p>
				<div
					*ngIf="this.user.role === 'teacher'"
					class="switch-text-panel"
				>
					<p>Admin:</p>
					<label class="switch">
						<input
							type="checkbox"
							[(ngModel)]="isChecked"
							[checked]="this.user.is_admin"
							(click)="adminAccount()"
						/>
						<span class="slider round"></span>
					</label>
				</div>
				<p *ngIf="isStudent && this.user.group_name">
					Группа: {{ this.user.group_name }}
				</p>
				<button
					class="btn_change btn-def-style"
					(click)="openChangePasswordDialog()"
				>
					Изменить пароль
				</button>
				<button
					class="btn_delete btn-def-style"
					(click)="deleteAccount()"
				>
					Удалить аккаунт
				</button>
			</div>
		</div>
		<div class="lesson_creator" *ngIf="!isStudent">
			<h3>Создать предмет</h3>
			<form class="lessons_form" (ngSubmit)="createLesson()">
				<table class="lessons_field">
					<tr>
						<td>
							<label for="subject_name">Название предмета</label>
							<input
								class="input-profile long-new"
								type="text"
								id="subject_name"
								name="subject_name"
								[(ngModel)]="lesson.subject_name"
								required
							/>
						</td>
					</tr>
				</table>
				<button class="btn_create btn-def-style" type="submit">
					Создать
				</button>
			</form>
		</div>
	</div>
</div>
